---
import { Alert } from '../components/Alert';
import GitHub from '../components/Icons/GitHub.astro';
import { Link } from '../components/Link';
import { trimSlashes } from '../utils/string';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

const basePath = import.meta.env.BASE_PATH || '';
const origin = (Astro.site?.href || '') + basePath;

const date = new Date();
const currentYear = date.getUTCFullYear().toString().padStart(2, '0');
const currentMonth = (date.getUTCMonth() + 1).toString().padStart(2, '0');
const currentDate = date.getUTCDate().toString().padStart(2, '0');

let version = 'dev';

if (import.meta.env.VERSION && import.meta.env.GIT_HASH) {
  version = `${import.meta.env.VERSION}.${import.meta.env.GIT_HASH}`;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Primary Meta Tags -->
    <meta name="title" content={title} />
    <meta name="description" content="Update Markdown tables easier with Markdown Clap." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={origin} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Update Markdown tables easier with Markdown Clap." />
    <meta property="og:image" content={origin + 'markdownclap-big.png'} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={origin} />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content="Update Markdown tables easier with Markdown Clap."
    />
    <meta property="twitter:image" content={origin + 'markdownclap-big.png'} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="h-screen flex flex-col bg-slate-100">
    <nav class="px-4 py-2 bg-sky-100 flex justify-between">
      <div class="flex flex-row items-center space-x-4">
        <a class="hover:underline" href={basePath}> Home</a>
        <a class="hover:underline" href={basePath + 'help'}>Help</a>
      </div>

      <div class="flex flex-col justify-center">
        <Link href="https://github.com/imballinst/markdownclap">
          <GitHub class="w-6 h-6 hover:fill-slate-700" />
        </Link>
      </div>
    </nav>

    <Alert client:visible />

    <main class="flex-1 p-4">
      <slot />
    </main>

    <footer class="py-2 text-xs text-center border-t-gray-200 border text-slate-700">
      <div>Copyright © {currentYear} Try Ajitiono</div>
      <div class="text-slate-400">Build {version} ({currentYear}{currentMonth}{currentDate})</div>
    </footer>
    <style>
      html,
      body {
        font-family: 'Poppins', sans-serif;
      }

      :global(ul),
      :global(ol) {
        margin-left: theme('spacing.3');
      }

      :global(ul) {
        list-style: disc;
      }

      :global(ol) {
        list-style: decimal;
      }

      :global(input),
      :global(button),
      :global(textarea),
      :global(select) {
        display: inline-flex;
        justify-content: center;
        border-width: theme('borderWidth.2');
        border-color: transparent;
        box-shadow: theme('boxShadow.sm');
        font-weight: theme('fontWeight.medium');
        border-radius: theme('borderRadius.md');
      }

      :global(input:disabled),
      :global(button:disabled),
      :global(textarea:disabled),
      :global(select:disabled) {
        color: theme('colors.gray.500');
      }

      :global(input),
      :global(select),
      :global(textarea) {
        padding: theme('spacing.1') theme('spacing.2');
      }

      :global(button) {
        padding: theme('spacing.2') theme('spacing.4');
      }

      :global(input),
      :global(button),
      :global(select) {
        font-size: theme('fontSize.sm');
      }

      :global(select) {
        cursor: theme('cursor.pointer');
        background: transparent;
        border-color: theme('borderColor.slate.100');
        border-width: 1px;
      }

      :global(select):hover {
        background: theme('colors.blue.50');
      }

      :global(button),
      :global(button[type='button']),
      :global(button[type='submit']),
      :global(button[type='reset']) {
        color: theme('colors.white');
        background: theme('colors.blue.600');
      }

      :global(button:hover) {
        background: theme('colors.blue.700');
      }

      :global(button:focus) {
        outline: none;
        --tw-ring-color: theme('ringColor.blue.500');
        --tw-ring-offset-width: theme('ringOffsetWidth.2');
        --tw-ring-width: theme('ringWidth.2');
      }

      :global(button.button-sm) {
        padding: theme('spacing.1') theme('spacing.2');
        border-width: 1px;
      }

      :global(button:disabled) {
        background: theme('colors.slate.400');
        color: theme('colors.slate.200');
      }

      :global(textarea) {
        border-width: theme('borderWidth.DEFAULT');
        border-color: theme('borderColor.slate.100');
        font-family: monospace;
      }
    </style>
  </body>
</html>
